@{
    ViewBag.Title = ViewRes.AccountStrings.ExternalLoginFailurePageTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewRes.AccountStrings.ExternalLoginFailureErrorMessage</h2>
</hgroup>
